{% load static %}

html{
	height: 100vh;
	width: 100%;
}

body{
	height:100vh;
	width:100%;
	color:blue;
	background-color:blue;
	background-opacity:0.5;
}

.menu{
	display:flex;
	flex-direction:column;
	width:25%;
	margin-left:10%;
}
