{% load static %}

html{
	height: 100vh;
	width: 100%;
	overflow:hidden;
}

body{
	height:100vh;
	width:100%;
	color:#f1f1f1;
	background-color:blue;
	background-opacity:0.5;
}

.menu{
	animation-duration:1s;
	animation-name:slide;
}
@keyframes slide{
	from{margin-left:-20%;opacity:0;}
}


.menu{
	display:flex;
	flex-direction:column;
	width:18%;
	height:89vh;
	line-height:20vh;
	font-family:impact;
	font-size:5vh;
	text-align:center;
	padding-top:12vh;
}

.menu2{
	display:flex;
	flex-direction:column;
	width:18%;
	height:100vh;
	line-height:25vh;
	font-family:impact;
	font-size:5vh;
	text-align:center;
	padding-top:12vh;
	margin-left:82%;
	margin-top:-112vh;
}

.menu2{
	animation-duration:1s;
	animation-name:slide2;
}
@keyframes slide2{
	from{margin-left:100%;opacity:0;}
}

.disapear{
	animation-duration:2s;
	animation-name:disapeare;
}
@keyframes disapeare{
	from{
		background-color:rgba(0,0,0,0.6);
	}
}

.appear{
	animation-duration:2s;
	animation-name:appeare;
}
@keyframes appeare{
	from{opacity:0;}
}

a{
	color:#F1F1F1;
	background-color:#060606;
	border-radius:40%;
	text-decoration:none;
	font-style:italic;
}

a:visited{
	color:;
}
