<html>
	{% load static %}
	<head>
		<title>Triple Triad</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>
<body style='
	background: url("{% static "backgroundImage.jpg" %}") no-repeat center;
	background-size: cover;
	'>
<!--	<div style="margin:-8px -8px;height:100vh;background-color:rgba(0,0,0,0.6)">-->
	<div class="lesCartes" style="background-color:black;">
			<p>print(joueur.main)</p>
			<a href="..">Retour</a>
	</div>
	<div>
			<form method="post">
				<label for="pos">Position : </label>
				<input type="number" id="pos" name="pos" min="0" max="4">
				<label for="numCarte">Carte : </label>
				<input type="number" id="numCarte" name="numCarte" min="0" max="8">
			</form>
	</div>
	</body>
	</div>
</html>
